<!-- Main Div For Database Tab -->
<div id="botsim" class="container">
    <!-- Title of Tab -->loadScene
    <div class="page-header">
        <h3>Robot Simulator</h3>
    </div>
    <!-- End Title of Tab -->
    <div id="botsim-body" />

    <div id="botsim-options">
        <div><strong>Choose your character: </strong>
        <input name="botsim-character" value="steve" checked id="botsim-steve-option" type="radio" />
            <label for="botsim-steve-option"> Steve </label>
        <input name="botsim-character" value="mouse" id="botsim-mouse-option" type="radio" />
             <label for="botsim-mouse-option"> Mouse </label></div>

        <div><strong>Load Level and Textures: </strong>
        <input type="file" id="botsim-file" multiple /></div>

        <input type="button" id="botsim-test" value="Load Test Level" />
    </div>
</div>
<!-- End Main Div For Database Tab -->
