<!-- Main Div For robot simulator tab Tab -->
<div id="vbot" class="container">
    <!-- Title of Tab -->
    <div class="page-header">
        <h3>Virtual Robot</h3>
    </div>
    <!-- End Title of Tab -->
    <div id="vbot-body"></div>

    <div id="vbot-options">
        <div><strong>Choose your character: </strong>
        <input name="vbot-character" value="steve" checked id="vbot-steve-option" type="radio" />
            <label for="vbot-steve-option"> Steve </label>
        <input name="vbot-character" value="mouse" id="vbot-mouse-option" type="radio" />
             <label for="vbot-mouse-option"> Mouse </label></div>

        <div><strong>Load Level and Textures: </strong>
        <input type="file" id="vbot-file" multiple /></div>
        or
        <input type="button" id="vbot-test" value="Load Test Level" />
    </div>
    <br />
    <p>
    Controls:
    <ul>
        <li>W: forward</li>
        <li>S: backward</li>
        <li>D: turn right</li>
        <li>A: turn left</li>
        <li>E: pick up object</li>
        <li>R: raise right arm</li>
        <li>F: lower right arm</li>
        <li>T: raise left arm</li>
        <li>G: lower left arm</li>
        <li>left drag: orbit</li>
        <li>right drag: pan</li>
        <li>scroll wheel: zoom</li>
    </ul>
</div>
<!-- End Main Div For Robot Simulator Tab -->
